@media only screen and (max-width: 768px) {
    .wrapper,.centred-form{
        width: 90%;
    }
    .scroll-table{
        width: 100%;
        overflow: auto;
    }
    .basic-table,.ReactTable{
        min-width: 800px;
    }
    .event-table{
        padding-right: 5px;
    }
}
